@import 'variables';

.header {
 
  position: fixed;
  width: 100%;
  height: 60px;
  background: red;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  background: rgba(51, 51, 51, 0.8);
  z-index: 999999;
  @include nav;

  & .header__menu{
    position: absolute;
    top:-100vh;
    width:100%;
    // right:0;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    @include nav;

      &.active__menu{
        top:7.5vh;
      }

      & .header__menu-container{
        transform: translateY(40%);
        width:100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
       & .header__menu-link{
         position: relative;
         color:$white_color;
         text-decoration: none;
         text-transform: uppercase;
         font-weight: 400;
         font-size:1.2rem;
         letter-spacing: 2px;
         z-index: 9999;
         @include ease;

         &.active__link:nth-child(1){
          animation: item-anime 0.7s 0.5s linear both; 
         }
         &.active__link:nth-child(2){
          animation: item-anime 0.7s 0.7s linear both; 
         }
         &.active__link:nth-child(3){
          animation: item-anime 0.7s 0.8s linear both; 
         }
         &.active__link:nth-child(4){
          animation: item-anime 0.7s 1s linear both; 
         }

         &:hover{
           font-weight: 600;
           color:$black_color;
         }

         &::before{
           position: absolute;
           bottom:0;
           content: '';
           background: rgba($yellow_color,0.8);
           height: 100%;
           width: 0%;
           z-index: -9999;
          }
          &:hover::before{
            width:100%;
            @include rubber;
          }
         
         & .fas,.far{
           margin-right:1rem;
         }

         
       }
      }
  }

  &.is-hidden {
    transform: translateY(-100%);
  }

  &.is-visible {
    transform: translateY(0);
  }

  & .header__logo-div {
    float: left;
    position: relative;
    width: 10%;
    text-align: center;
    z-index: 1;
    margin-left: 2rem;
    padding-top: 0.5rem;

    & .material-icons {
      font-size: 1.5rem;
      color: $white_color;
    }

    & .header__logo-description {
      font-weight: 600;
      color: $white_color;
      z-index: 9999;

      & .header__logo-title {
        font-weight: 400;
        color: $yellow_color;
      }
    }

    & .header__logo-decor-line1 {
      position: absolute;
      top: 75%;
      left: 20%;
      width: 30%;
      height: 10%;
      background: $yellow_color;
      z-index: -1;
    }
  }

  & .header__menu-hamburger-div {
    margin: 1rem 4rem 0 0;
    float: right;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999999;

    & div:nth-child(1) {
      width: 100%;
      background: $white_color;
      height: 3px;
      border-radius: 20px;
      transition: all 0.4s linear;

      &.active {
        width: 100%;
        transform: rotateZ(405deg) translate(5px, 10px);
      }
    }

    & div:nth-child(2) {
      width: 70%;
      height: 3px;
      background: $white_color;
      border-radius: 20px;
      transition: all 0.3s linear;

      &.active {
        opacity: 0;
      }
    }

    & div:nth-child(3) {
      width: 100%;
      height: 3px;
      background: $white_color;
      border-radius: 20px;
      transition: all 0.4s linear;

      &.active {
        width: 100%;
        transform: rotateZ(-405deg) translate(10px, -13px);
      }
    }
  }
}