// media quries Lg

@include mediaLg {
  .main{
    & .main__section3{
      & .main__section3__article{
        & .main__section3__article__txtCont{
          & .main__section3__article__item{
            padding:2rem;
            & .article__item-imgDiv{
              width:5%;
            }
            & .article__item__texts{
              font-size: 0.8rem;
              margin-left:0.5rem;
              & .article__item__texts__content{
                font-size:0.8rem;
              }
            }
          }
        }
      }
    }
  }
}