@import 'variables';

.main__section3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  & .main__section3__header{
    color:$white_color;
    text-transform: uppercase;
    font-weight: 300;
    font-size:3rem;
    background: $bg1_color;
    width:100%;
    text-align: center;
    padding:1rem;

    &::after{
      position: absolute;
      z-index: -999;
      left:10%;
      content:'';
      height: 10%;
      width:80%;
      background: $yellow_color;
    }
  }
  & .main__section3__article{
    display: flex;
    margin:0 1rem;
    width:90%;
    justify-content: space-around;
    align-items: center;

    & .main__section3__article__txtCont{
      width:65%;
      display: flex;
      flex-direction: column;
      & .main__section3__article__title{
        border-bottom:1px solid $yellow_color;
        padding:3rem;
        font-size:1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        color:$black_color;
      }
      //left side
      & .main__section3__article__item{
        display: flex;
        padding:3rem;

        & .article__item-imgDiv{
          width:5%;
          height: 5%;
          & img{
            width:100%;
            height: 100%;
          }
        }
        & .article__item__texts{
          font-size:1.2rem;
          font-weight: 500;
          margin-left:2rem;
          & .article__item__texts__content{
            font-weight: 700;
          }
        }
      }

      & .main__section3__article__item2{
        border-top:1px solid $yellow_color;
        display: flex;
        & .main__section3__article__item{
          & .article__item-imgDiv{
            width:20%;
            height: 80%;
          }
        }
      }
    }
    // right side
    & .main__section3__article__map{
      // display: flex;
      // flex-direction: column;
      // justify-content: flex-start;
      // align-items: flex-start;
      position: relative;
      width:35%;
      height: 100%;
      // background: #000;
     

      & .main__section3__article__map-map{
        width:100%;
        height: 100%;
        border:1px solid $bg1_color;
        margin-left:1rem;
        & img{
          width:100%;
          height: 100%;
        }
      }
      & .main__section3__article__map-pin{
        width:10%;
        height: 10%;
        position: absolute;
        left:20%;
        top:20%;

        & img{
          width:100%;
          height: 100%;
        }
      }
    }
  }
}