$yellow_color: rgb(239, 207, 37);
$white_color:#fff;
$black_color:#000;
$bg1_color: #333;

@mixin ease {
  transition: all 0.5s ease-out;
}

@mixin nav {
  transition: all 0.8s cubic-bezier(0, 1.5, .09, .38);
}

@mixin rubber {
  transition: all 0.4s cubic-bezier(.32, -0.61, 1, .69);
}

@keyframes item-anime{
  0%{
    opacity:0;
    transform: translateY(-20px);
  }
  100%{
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes pin-anime{
  0%{
    transform: translateY(0px) scale(1);
    
  }
  50%{
    transform: translateY(-40px) scale(1.4);
    
  }
  100%{
    transform: translateY(0px);
  }
}