@import 'variables';
@import 'header';
@import 'section1';
@import 'section2';
@import 'section3';
@import 'footer';
@import 'config';


//google font montserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

//global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 200vh;
  min-width: 100vw;
  overflow-x: hidden;
}

@import 'mobile_section1';
@import 'mobile_section2';
@import 'mobile_section3';
@import 'mobile_footer';